<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laguardia.kiosk"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <queries>
        <package android:name="com.viber.voip" />
        <package android:name="com.facebook.orca" />
    </queries>

    <application
        android:label="Company Kiosk"
        android:icon="@android:drawable/ic_lock_idle_lock"
        android:allowBackup="false">

        <activity
            android:name=".KioskActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <receiver
            android:name=".AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
